body {
    font-family: Arial, sans-serif;
}

.bg-teal {
    background-color: #008080;
}

.navbar-brand {
    color: white !important;
}

h2 {
    color: #008080;
}

.footer {
    padding: 10px 0;
}

.text-white {
    color: white !important;
}

